.Pokecard {
  width: 250px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 13px 14px 7px -8px rgb(0 0 0 / 50%);
  border-radius: 5px;
}

.Pokecard-image {
  background-color: #bcc5f7;
  border-radius: 5px;
  margin: 10px 0;
}

.Pokecard-image img {
  transition: all 500ms ease;
}

.Pokecard-image img:hover {
  cursor: pointer;
  transform: scale(1.20);
  opacity: 0.8;
}